* {
  box-sizing: border-box;
}

a:link, a:visited {
  color: #fdfcfc;
}

html, body {
  font-size: 20px;
  font-family: "Trebuchet MS", Veranda, sans-serif;
  display: inline-block;
  margin: 15px;
  overflow-wrap: break-word;
  text-color: #fcfcfc;
  background-color: #2b2b2b;
}
