    body {
      font-size: 20px;
      font-family: "Trebuchet MS", Veranda, sans-serif;
      display: inline-block;
      margin: 15px;
      overflow-wrap: break-word;
      background-color: #2b2b2b;
    }
